{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap3 %}
{% load myratings %}
{% load filmContent %}

{% block content %}
    <div id="hello">
        <div id="hello-window">
            <h3>How to use this app:</h3>
            <p>1) Rate at least 5 films that you have seen</p>
            <p>2) See new films recommendations for you in tab <b>Recommendations</b></p>
            <button class="btn btn-success"><a href="">Got it</a></button>
        </div>
    </div>

    <div id="mySwipe" class="swipe">
        <div class="swipe-wrap">
            {% filmContent prevFilm %}
            {% filmContent film %}
            {% filmContent nextFilm %}
        </div>
    </div>
{% endblock content %}



