{% load myratings %}
<div id="detail-container" class="container align-center">
    {% if film %}
        <h3>{{ film.Title }} ({{ film.Year }})</h3>
        <table>
            <tr>
                <td>
                    <ul class="pager">
                        {% if prevFilmId %}
                            <li><a href="{% url 'polls:detail' prevFilmId %}"
                                   class="previous round ">&#8249;</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="#" class="previous round ">&#8249;</a></li>
                        {% endif %}
                    </ul>
                </td>
                <td>
                    <img src={{ film.Poster }} class="img-responsive" alt="Responsive image"
                         style="max-height: 350px">
                </td>
                <td>
                    <ul class="pager">
                        {% if nextFilmId %}
                            <li><a href="{% url 'polls:detail' nextFilmId %}" class="next round">&#8250;</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="#" class="next round ">&#8250;</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </table>
        {% myratings film %}
        <div class="summary-text">{{ film.Plot }}</div>
    {% else %}
        <h3/>
    {% endif %}
</div>