{% extends "base.html" %}
{% load admin_urls %}
{% load bootstrap3 %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <div style="margin-top: 5px">
        {% if latest_films_list %}
        <ul>
            {% for film in latest_films_list %}
                <li><a href="{% url 'polls:detail' film.id %}">{{ film.Title }} ({{ film.Year }})</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No films are available.</p>
    {% endif %}
    </div>
{% endblock %}