html, body {
}

.wrapper {
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */

}


.wrapper:after {
    content: "";
    display: block;
}

#page-footer, .wrapper:after {
    height: 100px; /* '.push' must be the same height as 'footer' */
}

#page-footer {
    border-top: 2px solid rgb(218, 218, 218);
    background-color: rgb(238, 238, 238);
    text-shadow: rgb(217, 217, 217) 1px 1px 0px
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn a, .btn a:hover {
    color: white;
    text-decoration: none;
}

.container {
    margin-left: unset;
    margin-right: unset;
}

.pager {
    font-size: 20px;
}

.navbar {
    margin-bottom: unset
}

.td, td {
    padding: 10px;
}

.table, table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.align-center {
    text-align: center;
}

.margin-top {
    margin-top: 15px;
}

.ul, ul {
    list-style-type: none;
    padding-inline-start: 5px;
}


.col-md-3 {
    width: unset;
}

#hello {
    display: none;
}

#hello:target {
    display: contents;
}

#hello-window {
    text-align: left;
    padding: 15px;
    border: 1px solid #000009;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    margin: auto;
    background: #fff;
    opacity: .9;
    width: 100%
}


