html, body {
}

.wrapper {
    margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
    height: 100%;
}


.wrapper:after {
    content: "";
    display: block;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn a, .btn a:hover {
    color: white;
    text-decoration: none;
}

.container {
    margin-left: unset;
    margin-right: unset;
}

.navbar {
    margin-bottom: unset
}

.align-center {
    text-align: center;
}

.margin-top {
    margin-top: 15px;
}

.ul, ul {
    list-style-type: none;
    padding-inline-start: 5px;
}


.col-md-3 {
    width: unset;
}

#hello {
    display: none;
}

#hello:target {
    display: contents;
}

#hello-window {
    text-align: left;
    padding: 15px;
    border: 1px solid #000009;
    border-radius: 10px;
    position: absolute;
    margin-top: 1px;
    background: #fff;
    opacity: .9;
    width: 100%;
    z-index: 10;
}

.summary-text {
    line-height: 18px;
    text-align: justify;
    padding-bottom: 16px;
    position: absolute;
    margin-left: 5px;
    margin-right: 5px;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height: 100%;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

img {
    background-size: cover;
    height: 100%;
    margin: auto;
    max-height: 350px;
}

#detail-container {
    height: 100%;
    overflow: scroll;
}

#film-container {
    margin-left: 20px;
    margin-right: 20px;
}

.pager {
    margin-top: unset;
    height: 100%;
    font-size: 25px;
}

#left {
    height: 80%;
    float: left;
    width: 40px;
    margin-right: 5px;
    display: grid;
    align-items: center;
}

#middle {
    display: grid;
}

#right {
    height: 80%;
    float: right;
    width: 40px;
    margin-left: 5px;
    display: grid;
    align-items: center;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}