{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>Sign in</h1>
                <p>Not yet registered?
                    <a href="{% url 'registration_register' %}">Register now!</a></p>
                <p>Trouble signing in?
                    <a href="{% url 'auth_password_change' %}">Reset password.</a></p>
            </div>
        </div>

        {% if form.errors %}
            <div class="row">
                <div class="alert alert-danger col-sm-offset-2 col-sm-6">
                    <p><strong>Login failed. Try again...</strong></p>
                </div>
            </div>
        {% endif %}

        <form action="{% url 'auth_login' %}"
              method="post"
              role="form"
              class="form-horizontal">
            {% csrf_token %}

            {% bootstrap_field form.username layout='horizontal' %}
            {% bootstrap_field form.password layout='horizontal' %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% else %}
                <input type="hidden" name="next" value="{% url 'polls:home' %}"/>
            {% endif %}
            {% buttons %}
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                </div>
                <div class="col-sm-10 margin-top">
                    <button class="btn btn-primary"><a href="{% url 'social:begin' 'facebook' %}"><i
                            class="fa fa-facebook-square left"></i> Login with Facebook</a>
                    </button>
                </div>
            {% endbuttons %}
        </form>

    </div>
{% endblock %}
